<div class="container">
  <h2>New in Smart Phones</h2>
</div>

<div class=more-products>
  <!--<div class="card">
    <h4 class="title">New in iphone</h4>
    <p class="summary">This new features have enhanced security and more optimized performance.
      New user experience in terms of UI.
    </p>
    <button class="btn btn-more">Show More</button>
  </div>

  <div class="card">
    <h4 class="title">New in Samsung</h4>
    <p class="summary">This new features have enhanced security and more optimized performance.
      New user experience in terms of UI.
    </p>
    <button class="btn btn-more">Show More</button>
  </div>

  <div class="card">
    <h4 class="title">New in OnePlus</h4>
    <p class="summary">This new features have enhanced security and more optimized performance.
      New user experience in terms of UI.
    </p>
    <button class="btn btn-more">Show More</button>
  </div>

  <div class="card">
    <h4 class="title">New in Nokia</h4>
    <p class="summary">This new features have enhanced security and more optimized performance.
      New user experience in terms of UI.
    </p>
    <button class="btn btn-more">Show More</button>
  </div> -->
  <app-product>
    <h4 class="title">New in iphone</h4>
    <button class="btn btn-more">Show More in iphone</button>
  </app-product>
  <app-product>
    <h4 class="title">New in Samsung</h4>
    <button class="btn btn-more">Show More in Samsung</button>
  </app-product>
  <app-product>
    <h4 class="title">New in OnePlus</h4>
    <button class="btn btn-more">Show More in OnePlus</button>
  </app-product>
  <app-product>
    <h4 class="title">New in MI</h4>
    <button class="btn btn-more">Show More in MI</button>
  </app-product>
</div>